.navbar-brand {
  color: #007ea7;
  font-size: 5px;
}

.webTitle {
  color: #007ea7;
  font-size: 20px;
  margin-top: 7px;
}

.products {
  color: #007ea7;
  font-size: 20px;
}

#navbarFlex {
  display: flex;
  align-items: center;
}
